In [17]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

from IPython.display import display, HTML

display(HTML(
    '<style>'
        '#notebook { padding-top: 0px !important; } ' 
        '.container { width: 100% !important; } '
        '.end_space { min-height: 0px !important; } '
        'table, tr, td { border: 1px  black solid !important; color: black; }'
        'th { border: 1px  black solid !important; color: #130f40; background: #ECFED7; }'
    '</style>'
))

In [18]:
uber_15 = pd.read_csv(r'../../000_Datasets/Datasets_Uber_NY/uber-raw-data-janjune-15.csv', encoding='utf-8')

In [19]:
display(uber_15)

,Dispatching_base_num,Pickup_date,Affiliated_base_num,locationID
0,B02617,2015-05-17 09:47:00,B02617,141
1,B02617,2015-05-17 09:47:00,B02617,65
2,B02617,2015-05-17 09:47:00,B02617,100
3,B02617,2015-05-17 09:47:00,B02774,80
4,B02617,2015-05-17 09:47:00,B02617,90
...,...,...,...,...
14270474,B02765,2015-05-08 15:43:00,B02765,186
14270475,B02765,2015-05-08 15:43:00,B02765,263
14270476,B02765,2015-05-08 15:43:00,B02765,90
14270477,B02765,2015-05-08 15:44:00,B01899,45
14270478,B02765,2015-05-08 15:44:00,B02682,144

In [20]:
uber_15['Pickup_date'] = pd.to_datetime(uber_15['Pickup_date'], format ='%Y-%m-%d %H:%M:%S')

In [21]:
display(uber_15)

,Dispatching_base_num,Pickup_date,Affiliated_base_num,locationID
0,B02617,2015-05-17 09:47:00,B02617,141
1,B02617,2015-05-17 09:47:00,B02617,65
2,B02617,2015-05-17 09:47:00,B02617,100
3,B02617,2015-05-17 09:47:00,B02774,80
4,B02617,2015-05-17 09:47:00,B02617,90
...,...,...,...,...
14270474,B02765,2015-05-08 15:43:00,B02765,186
14270475,B02765,2015-05-08 15:43:00,B02765,263
14270476,B02765,2015-05-08 15:43:00,B02765,90
14270477,B02765,2015-05-08 15:44:00,B01899,45
14270478,B02765,2015-05-08 15:44:00,B02682,144